@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollbar::-webkit-scrollbar-track {
  background: #292b2f;
  border-radius: 10rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 10rem;
}
